<div class="contenedor-seccion-dolores">

    <div class="contenedor-dolores-titulo">
        <h2 class="titulo-seccion-dolores">¿Por qué tu negocio necesita una web profesional?</h2>
        <p class="subtitulo-seccion-dolores">
            En la era digital, tu sitio web es tu carta de presentación las 24 horas del día.
        </p>
    </div>

    <div class="contenedor-dolores">

        <div class="contenedor-dolor">
            <h3 class="titulo-dolor"> ❌ Pérdida de oportunidades</h3>
            <p class="descripcion-dolor">
                Muchos arquitectos o constructoras solo tienen un perfil en redes sociales, pero no generan confianza ni retienen clientes nuevos.
            </p>
        </div>

        <div class="contenedor-dolor">
            <h3 class="titulo-dolor">📉 Pierdes por no tener imagen digital</h3>
            <p class="descripcion-dolor">
                Aunque tu trabajo sea excelente, si no lo muestras profesionalmente en línea, otros se llevan a tus clientes.
            </p>
        </div>
        <div class="contenedor-dolor">
            <h3 class="titulo-dolor">📂 Desorden en procesos</h3>
            <p class="descripcion-dolor">
                Presupuestos, avances o entregas se hacen por WhatsApp o Excel. Resultado: errores, pérdidas y más estrés.
            </p>
        </div>


    </div>

</div>
