
<div class="contenedor-degradado3">
    <!-- Contenido del contenedor -->
</div>

<style>
    .contenedor-degradado3 {
        width: 100%; /* Ancho total */
        height: 300px; /* Altura de 600px */
        background-color: #eaeded; /* Degradado gris */
        display: flex;
        justify-content: center;
        align-items: center;

    }
</style>

@code {
    // Lógica adicional del componente si es necesario
}
