@typeparam Titem

@if (MiLista is null)
{
    @if (Cargando is null)
    {
        <div class="spinner" />
    }
    else
    {
        @Cargando
    }
}
else if (MiLista.Count == 0)
{
    @if (SinRegistros is null)
    {
        <div class="align-items-center">
            <p>No hay datos.</p>
        </div>
    }
    else
    {
        @SinRegistros
    }
}
else
{
    @Cuerpo
}

@code {
    [Parameter]
    public RenderFragment? Cargando { get; set; }

    [Parameter]
    public RenderFragment? SinRegistros { get; set; }

    [Parameter]

    public RenderFragment Cuerpo { get; set; } = null!;

    [Parameter]
 
    public List<Titem> MiLista { get; set; } = null!;
}
