#app {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
    /*text-align: center;*/
}

.loading-progress {
    animation: rotate 2s linear infinite;
    height: 120px;
    width: 120px;
}

    .loading-progress circle {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -10;
        stroke-width: 5;
        fill: none;
        stroke: var(--color-azul-turquesa);
        animation: dash 1.5s ease-in-out infinite;
    }

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.loading-progress-text {
    margin-top: 15px;
    font-size: 16px;
    color: #009688;
    font-weight: bold;
}
