/* Estilos generales para el contenedor del título y el contenido */
.title-container {
    background-color: transparent; /* Fondo gris claro */
    padding: 40px; /* Ajusta el padding */
    text-align: center; /* Alineación centrada */

    padding: 50px 0px 60px 0px;

}

.text-content {
    width: 100%; /* El contenido ocupa el 60% del ancho */
    margin: 0 auto; /* Centramos el contenido horizontalmente */
    border-top: 1px solid #aab7b8; /* Borde en la parte superior */
    border-bottom: 1px solid #aab7b8; /* Borde en la parte inferior */
    padding: 15px;
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente el contenido dentro */
    align-items: center; /* Centra verticalmente el contenido dentro */
      text-align: center; /* Alinea el texto en el centro */
}

.title-container h1 {
    /*font-size: 2rem;*/ /* Tamaño más grande del título */
    /*background: linear-gradient(to top, #2c3e50, #808b96);*/ /* Gradiente de azul claro a azul oscuro */
    /*-webkit-background-clip: text;*/ /* Clipa el fondo al texto */
    /*-webkit-text-fill-color: transparent;*/ /* Rellena el texto con el gradiente */
    /*text-transform: uppercase;*/ /* Convierte el texto a mayúsculas */
    /*font-weight: bold;*/ /* Negrita */
    /*margin-bottom:30px;*/
}

.title-container .description {
    font-size: 1.2rem; /* Tamaño de la descripción */
    color: #7f8c8d; /* Color gris claro para el texto */
    line-height: 1.5;
    padding-bottom: 0px; /* Ajusta el padding */
}


.highlight {
    font-weight: bold; /* Texto más grueso */
    color: #D2AE6D; /* Color dorado */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    /* Ajusta el ancho del contenido en pantallas pequeñas */
    .text-content {
        width: 90%; /* El contenido ocupa el 90% del ancho */
    }

    /* Ajusta la línea horizontal */
    .custom-line {
        width: 90%; /* Ajusta la línea al 90% del contenedor */
    }

    /* Ajusta el tamaño del título en pantallas pequeñas */
    .title-container h1 {
        /*font-size: 1.8rem;*/ /* Tamaño del título más pequeño */
    }

    /* Ajusta el tamaño de la descripción en pantallas pequeñas */
    .title-container .description {
        font-size: 1rem; /* Ajuste de tamaño de fuente para descripciones */
    }


}
