<div class="title-container">
    <div class="contenedor-titulo">
        <h1 class="Titulo-Principal">Servicios de Arquitectura</h1>
    </div>

    <div class="text-content">
        <p class="Descripcion-Principal">
            Brindamos soluciones especializadas en <span class="highlight">diseño arquitectónico</span>, modelado avanzado y <span class="highlight">visualización 3D</span> para dar vida a tus ideas. Nos enfocamos en cada aspecto del proyecto, incluyendo la <span class="highlight">ambientación de plantas</span> y modelado preciso en plataformas como SketchUp y Revit, logrando una <span class="highlight">representación arquitectónica realista</span> que resalta cada detalle y maximiza el impacto visual.
        </p>
    </div>
</div>

